#btn {
  background-color: #155fe0;
  color:white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration:none;
  &:hover {
    color: rgba(255,255,255,0.5)
  }
}
.show-button {
  margin-top: 30px;
  text-align: center;
  #btn {
    box-shadow: 0.5px 0.5px 3px rgb(100,100,100);
  }
}
